<section class="block container">
    <header class="block__header">
        <h2>Host On The Cloud To Keep Growing</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, ipsum!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#easy"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Super Easy To Use</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Tempora necessitatibus vitae est illum sunt libero veritatis quas odio, expedita beatae.</p>
            <a class="link-arrow"href="#">Learn More</a>
        </div>
        <picture><img class="feature__image"src="Images/easy.jpg" alt=""></picture>
    </article>
</section>
<section class="block container">
    <article class="grid grid--1x2 feature">
        <div>
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#computer"></use>
                  </svg>
            </span>
            <h3 class="feature__heading">Simply Fast Websites</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Tempora necessitatibus vitae est illum sunt libero veritatis quas odio, expedita beatae.</p>
            <a class="link-arrow"href="#">Learn More</a>
        </div>
        <picture><img class="feature__image"src="Images/fast.jpg" alt=""></picture>
    </article>
</section>