<div class="media">
    <div class="media__image">
            <svg class="icon icon--primary">
                <use xlink:href="icons/sprite.svg#wordpress"></use>
            </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis nulla alias tenetur non eveniet, dolore porro nihil facilis,
             quas accusantium ullam laborum natus necessitatibus numquam. Numquam tenetur modi expedita animi.</p>
    </div>
</div>