<section class="block">
    <header class="block__header">
        <h2>What Our Customers Are Saying </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, magni!</p>
    </header>
    <div class="container">
        <body style="padding: 5rem;">
            <div class="card testimonial">
                <div class="grid grid--1x2">
                    <div class="testimonial__image">
                     <img  src="Icons/testimonial.jpg" alt="smiling customer">
                     <span class="icon-container icon-container--accent">
                         <svg class="icon icon--white icon--small">
                            <use xlink:href="icons/sprite.svg#quotes"></use>
                           </svg>
                     </span>
                    </div>
                    <blockquote class="quote">
                     <p class="quote__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae earum tenetur id eos 
                         architecto assumenda consequatur iusto culpa molestiae dolor.</p>
                         <footer>
                             <div class="media">
                                 <div class="media__image">
                                       <svg class="icon icon--primary quote__line">
                                        <use xlink:href="icons/sprite.svg#line"></use>
                                         </svg>
                                 </div>
                                 <div class="media__body">
                                     <h3 class="media__title quote__author">Hill Lavesque</h3>
                                     <p>ABC Company</p>
                                 </div>
                             </div>
                         </footer>
                 </blockquote>
                </div>
        </div>
    </div>
   </section>